:root {
    --white: #ffffff;
    --blue: #0065fc;
    --lightBlue: #DEEBFF;
    --black: #000000;
    --grey: #d9d9d9;
    --gap: 30px;
}





@font-face {
    font-family: Raleway;
    src: url(../media/Fonts/Raleway-VariableFont_wght.ttf);
}





/* Générique au document */
* {
    margin: 0;
    font-family: Raleway;
    scroll-behavior: smooth;
}

body {
    margin: auto;
    padding: 0 var(--gap);
    max-width: 1400px;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--blue);
}

/* =====Margin===== */
.noMargin {
    margin: 0;
}

.classicMarginBottom {
    margin-bottom: var(--gap);
}

.lowMarginBottom {
    margin-bottom: calc(var(--gap)/2)
}

.sLowMarginBottom {
    margin-bottom: calc(var(--gap)/3)
}

.hightMarginBottom {
    margin-bottom: calc(var(--gap)*2);
}

.classicMarginRight {
    margin-right: var(--gap);
}

.lowMarginRight {
    margin-right: calc(var(--gap)/2);
}

/* =====Padding===== */
.noPadding {
    padding: 0;
}

.classicPadding {
    padding: var(--gap);
}

.lowPadding {
    padding: calc(var(--gap)/2);
}

.sLowPadding {
    padding: calc(var(--gap)/3);
}

.sSLowPadding {
    padding: calc(var(--gap)/4);
}

/* =====Font===== */
.boldFont {
    font-weight: bold;
}

.colorBlack {
    color: var(--black);
}

.colorGrey {
    color: var(--grey);
}

.colorWhite {
    color: var(--white);
}

.colorBlue {
    color: var(--blue);
}

.colorLightBlue {
    color: var(--lightBlue);
}

/* =====Background===== */
.bcBlack {
    background-color: var(--black);
}

.bcGrey {
    background-color: var(--grey);
}

.bcWhite {
    background-color: var(--white);
}

.bcBlue {
    background-color: var(--blue);
}

.bcLightBlue {
    background-color: var(--lightBlue);
}

/* =====Style===== */
.noStyleList {
    list-style: none;
}

.flex {
    display: flex;
}

.borderRadius {
    border-radius: var(--gap);
}

.boxShadow {
    box-shadow: 20px 20px 33px -40px var(--black);
}





/* Spécifique header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBorder {
    display: inline-block;
    border-top: 3px solid var(--white);
}

.headerBorder:hover {
    border-top: 3px solid var(--blue);
}

#logoHeader {
    width: 60px;
    height: 20px;
}





/* Spécifique main */
/* =====Zone barre de recherche===== */
#leftPartSearchingBar {
    border: 1px solid var(--grey);
    border-radius: calc(var(--gap)/2) 0 0 calc(var(--gap)/2);
}

#middlePartSearchingBar {
    border: 1px solid var(--grey);
}

#middlePartSearchingBar::placeholder {
    color: var(--black);
}

#rightPartSearchingBar {
    border: 1px solid var(--blue);
    border-radius: 0 calc(var(--gap)/2) calc(var(--gap)/2) 0;
}

/* =====Zone des filtres===== */
#filtersSection {
    align-items: center;
}

.filtersButton {
    border: 2px solid var(--grey);
    padding: calc(var(--gap)/3) calc(var(--gap)/2);
}

.filtersButton:hover {
    background-color: var(--lightBlue);
}

.fa-circle-info {
    color: var(--blue);
    background-color: var(--white);
    border-color: var(--grey);
}

/* =====Zone des cards hébergements===== */
.leftHebergements {
    width: 60%;
}

.leftvignette {
    width: calc(100%/3);
}

.imgHebergements {
    width: 250px;
    height: 125px;
    border-radius: var(--gap) var(--gap) 0 0;
}

/* =====Zone des cards Les plus populaires===== */
.rightHebergements {
    width: 40%;
}

.imgPopulaires {
    width: 140px;
    height: 150px;
}

/* =====Zone des cards Activités à Marseille===== */
#cardsActivityMarseille {
    justify-content: space-between;
}

.vignetteActivityMarseille {
    border-radius: var(--gap);
    box-shadow: 3px 3px 20px 0px var(--grey);
}

.imgActivity {
    width: 300px;
    height: 450px;
    border-radius: var(--gap) var(--gap) 0 0;
    object-fit: cover;
}





/* Spécifique au footer */
.footerLowMarginBottomNoLastChild li:not(:last-child) {
    margin-bottom: calc(var(--gap)/2);
}

.columnsInFooter {
    width: calc(100% / 3);
}

.footerPadding {
    padding: calc(var(--gap)*2) calc(var(--gap)*3) calc(var(--gap)*2) calc(var(--gap)*3);
}