:root {
    --white: #ffffff;
    --blue: #0065fc;
    --lightBlue: #DEEBFF;
    --black: #000000;
    --grey: #F2F2F2;
    --gap: 30px;
}





@font-face {
    font-family: Raleway;
    src: url(../media/Fonts/Raleway-VariableFont_wght.ttf);
}





/* Générique au document */
* {
    margin: 0;
    font-family: Raleway;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0 var(--gap);
    max-width: 1400px;
    font-size: 16px;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:hover {
    color: var(--blue);
}

/* =====Margin===== */
.noMargin {
    margin: 0;
}

.classicMarginTop {
    margin-top: var(--gap);
}

.hightMarginTop {
    margin-top: calc(var(--gap)*2);
}

.classicMarginBottom {
    margin-bottom: var(--gap);
}

.lowMarginBottom {
    margin-bottom: calc(var(--gap)/2)
}

.sLowMarginBottom {
    margin-bottom: calc(var(--gap)/3)
}

.hightMarginBottom {
    margin-bottom: calc(var(--gap)*2);
}

.classicMarginRight {
    margin-right: var(--gap);
}

.lowMarginRight {
    margin-right: calc(var(--gap)/2);
}

/* =====Padding===== */
.noPadding {
    padding: 0;
}

.classicPadding {
    padding: var(--gap);
}

.lowPadding {
    padding: calc(var(--gap)/2);
}

.sLowPadding {
    padding: calc(var(--gap)/3);
}

.sSLowPadding {
    padding: calc(var(--gap)/4);
}

/* =====Font===== */
.boldFont {
    font-weight: bold;
}

.colorBlack {
    color: var(--black);
}

.colorGrey {
    color: var(--grey);
}

.colorWhite {
    color: var(--white);
}

.colorBlue {
    color: var(--blue);
}

.colorLightBlue {
    color: var(--lightBlue);
}

/* =====Background===== */
.bcBlack {
    background-color: var(--black);
}

.bcGrey {
    background-color: var(--grey);
}

.bcWhite {
    background-color: var(--white);
}

.bcBlue {
    background-color: var(--blue);
}

.bcLightBlue {
    background-color: var(--lightBlue);
}

/* =====Style===== */
.noStyleList {
    list-style: none;
}

.flex {
    display: flex;
}

.borderRadius {
    border-radius: var(--gap);
}

.boxShadow {
    box-shadow: 20px 20px 33px -40px var(--black);
}

.flexCenter {
    display: flex;
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
    gap: var(--gap);
}

.gap {
    gap: var(--gap);
}





/* Spécifique header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBorder {
    display: inline-block;
    border-top: 3px solid var(--white);
}

.headerBorder:hover {
    border-top: 3px solid var(--blue);
}

#logoHeader {
    width: auto;
    height: 20px;
}





/* Spécifique main */
/* =====Zone barre de recherche===== */
#leftPartSearchingBar {
    border: 1px solid var(--grey);
    border-radius: calc(var(--gap)/2) 0 0 calc(var(--gap)/2);
}

#middlePartSearchingBar {
    border: 1px solid var(--grey);
}

#middlePartSearchingBar::placeholder {
    color: var(--black);
}

#rightPartSearchingBar {
    border: 1px solid var(--blue);
    border-radius: 0 calc(var(--gap)/2) calc(var(--gap)/2) 0;
}

/* =====Zone des filtres===== */
#filtersButtons {
    display: flex;
    gap: var(--gap);
}

.filtersButton {
    border: 2px solid var(--grey);
    padding: calc(var(--gap)/3) calc(var(--gap)/2);
}

.filtersButton:hover {
    background-color: var(--lightBlue);
}

.fa-info {
    font-size: 10px;
    color: var(--blue);
    background-color: var(--white);
    border: 2px solid var(--grey);
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
}

/* =====Zone des cards hébergements===== */
.leftHebergements {
    width: 65%;
}

.leftvignette {
    width: calc((100% - 60px) / 3);
}

.imgHebergements {
    width: 100%;
    height: 125px;
    border-radius: var(--gap) var(--gap) 0 0;
    object-fit: cover;
}

.divleftHebergements {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: var(--gap);
}

.interiorLeftVignette {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* =====Zone des cards Les plus populaires===== */
.rightHebergements {
    width: 35%;
}

.imgPopulaires {
    width: 40%;
    height: 150px;
    border-radius: var(--gap) 0 0 var(--gap);
    object-fit: cover;
}

.rightDivPopular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: var(--gap);
}

.rightVignette {
    padding: 10px;
}

.flexTest {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}

.aTest {
    display: flex;
    justify-content: space-between;
}

.rightPartPopular {
    width: 60%;
    padding: 10px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* =====Zone des cards Activités à Marseille===== */
#cardsActivityMarseille {
    justify-content: space-between;
    gap: var(--gap);
}

.vignetteActivityMarseille {
    border-radius: var(--gap);
    box-shadow: 3px 6px 10px 3px var(--grey);
    width: calc(100% / 4);

}

.imgActivity {
    border-radius: var(--gap) var(--gap) 0 0;
    object-fit: cover;
    width: 100%;
    height: 450px;
}





/* Spécifique au footer */

.columnsInFooter {
    width: calc(100% / 3);
}

.footerPadding {
    padding: calc(var(--gap)*2) calc(var(--gap)*3) calc(var(--gap)*2) calc(var(--gap)*3);
}

.flexfooter {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)/2);
}